@import './config.scss';
@import './element.scss';
@import './normalize.scss';

.pull-left {
  float: left;
}

/deep/ .pull-right {
  float: right;
}

// 高度占位，用于隔开内容
.black-space-30 {
  height: 30px;
}

// 这个可以设置margin-left-(1-110)的值，就是可以设置左边距为1-110的值
@for $i from 1 through 110 {
  .margin-left-#{$i} {
    margin-left: (1px * $i);
  }
}
// .margin-left-10 {
//   margin-left: 10px;
// }
