@import './config.scss';
@import './element.scss';
@import './normalize.scss';

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// 高度占位，用于隔开内容
.black-space-30 {
  height: 30px;
}
